.footer__copyright {
    color: #545454;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1050px) {
    .footer__copyright {
        margin-left: 19px;
    }
}

@media screen and (max-width: 450px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}