.popup {
    background: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 430px;
    box-sizing: border-box;
    position: relative;
    padding: 34px 36px 37px;
    border: 0;
    margin: auto;
}

@media screen and (max-width: 550px) {
    .popup {
        padding: 25px 22px;
        width: 282px;
    }
}